<ul>
    <li><a href=".."><i class="fa fa-home"></i> Bill Project</a></li>
    <li><a href="../users/<%=current_user.id%>"><i class="fa fa-user"></i> User</a></li>
    <li><a href="../bills/index"><i class="fa fa-usd"></i> Bills</a></li>
    <li><a href="#5"><i class="fa fa-phone"></i> Contact</a></li>
</ul>
