<ul>
    <li><a href="..">Bill Project</a></li>
    <li><a href="../users/<%=current_user.id%>">User</a></li>
    <li><%=link_to 'Edit Profile', edit_user_registration_path, class: 'navbar-link'%></li>
    <li><a href="../bills/index">Bills</a></li>
    <li><a href="#5">Contact</a></li>
</ul>
