<ul>
    <li><a>Bill Project</a></li>
    <li><a href="..">Home</a></li>
    <li><a href="#2">User</a></li>
    <li><%=link_to 'Edit Profile', edit_user_registration_path, class: 'navbar-link'%></li>
    <li><a href="#4">Bills</a></li>
    <li><a href="#5">Contact</a></li>
</ul>
