<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><h2>Bill Project</h2></a>
    </div>
  </div>
</nav>
